@using Microsoft.AspNetCore.Http
@using PhantasmalARTdemo
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model PhantasmalARTdemo.Models.Containers.ArtDisplayView

@{
    string? username = HttpContextAccessor.HttpContext.Session.GetString("UserName");
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <figure class="mb-4">
                <img class="img-fluid rounded" src="@Model.Art.FilePath" alt="@Model.Art.Title" />
            </figure>

            @* Comments will be here *@
            @* <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-header">Comments:</div>
                    <div class="card-body">
                        <!-- Single comment-->
                        <div class="d-flex">
                            <div class="ms-3">
                                <div class="fw-bold">Username</div>
                                <p>User leaves a comment and it looks like dis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section> *@
        </div>

        @* Side widget *@
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">About</div>
                <div class="card-body">
                    <h2 class="fw-bolder mb-1">@Model.Art.Title</h2>
                    <div class="text-muted fst-italic mb-2">
                        Posted on @Model.Art.CreatedAt.Day @Model.Art.CreatedAt.Month, @Model.Art.CreatedAt.Year by
                        <a class="nav-link text-dark" asp-controller="User" asp-action="Profile" asp-route-username="@Model.Art.Author">@Model.Art.Author</a>
                    </div>
                    <p class="fs-5 mb-4">@Model.Art.Description</p>
                    @if (username == Model.Art.Author)
                    {
                        <a class="btn btn-primary w-100 mb-4" 
                        asp-controller="Art" asp-action="UpdateGet"
                           asp-route-username="@Model.Art.Author" asp-route-externalUUID="@Model.Art.ExternalUUID">
                            Edit
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>