@using Microsoft.AspNetCore.Http
@using phantasmalARTdemo
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model phantasmalARTdemo.Models.DTO.ArtDTO

@{
    string? username = HttpContextAccessor.HttpContext.Session.GetString("UserName");
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <figure class="mb-4">
                <img class="img-fluid rounded" src="@Model.FilePath" alt="@Model.Title" />
            </figure>

            @* Comments will be here *@
        </div>
        @* Side widget *@
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">About</div>
                <div class="card-body">
                    <h2 class="fw-bolder mb-1">@Model.Title</h2>
                    <div class="text-muted fst-italic mb-2">
                        Posted on @Model.CreatedAt.Day @Model.CreatedAt.Month, @Model.CreatedAt.Year by 
                        <a class="nav-link text-dark" asp-controller="User" asp-action="Profile" asp-route-username="@Model.Author">@Model.Author</a>
                    </div>
                    <p class="fs-5 mb-4">@Model.Description</p>
                    @if (username == Model.Author)
                    {
                        <a class="btn btn-primary w-100 mb-4" 
                        asp-controller="Art" asp-action="UpdateGet" 
                        asp-route-username="@Model.Author" asp-route-externalUUID="@Model.ExternalUUID">
                            Edit
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>