@model ASPNET_CourseProject.Models.View.AuthModel

@{
    ViewData["Title"] = "Sign up";
}

<div class="container form-container" id="auth-tabs">
    <ul class="nav nav-pills nav-justified mb-3" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab-register" data-bs-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
        </li>
    </ul>

    <div class="tab-content">
        @if (Model.Errors != null)
        {
            <div class="alert alert-danger">
                <strong>A problem has been occurred while submitting your data.</strong>
                <ul>
                    @for (int i = 0; i < Model.Errors.Count; i++)
                    {
                        <li>@Model.Errors[i]</li>
                    }
                </ul>

            </div>
        }

        <div class="tab-pane active" id="register" role="tabpanel" aria-labelledby="tab-register">
            @using (Html.BeginForm("Register", "Auth", FormMethod.Post))
            {
                <div class="form-floating form-outline flex-fill mb-3">
                    @Html.TextBoxFor(Model => Model.User.Email, htmlAttributes: new { @class = "form-control", @id = "email", placeholder = "Email", required = "required" })
                    @Html.LabelFor(Model => Model.User.Email, htmlAttributes: new { @class = "form-label", @for = "email" })
                </div>
                <div class="form-floating form-outline flex-fill mb-3">
                    @Html.TextBoxFor(Model => Model.User.Username, htmlAttributes: new { @class = "form-control", @id = "username", placeholder = "Username", required = "required" })
                    @Html.LabelFor(Model => Model.User.Username, htmlAttributes: new { @class = "form-label", @for = "username" })
                </div>
                <div class="form-floating form-outline flex-fill mb-3">
                    @Html.PasswordFor(Model => Model.User.Password, htmlAttributes: new { @class = "form-control", @id = "password", placeholder = "Password", required = "required" })
                    @Html.LabelFor(Model => Model.User.Password, htmlAttributes: new { @class = "form-label", @for = "password" })
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-4">Register</button>
            }
        </div>
    </div>
</div>