@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model ASPNET_CourseProject.Models.View.ArtUploadModel

<h1>Edit art</h1>

@if (Model.Errors != null)
{
    <div class="alert alert-danger">
        <strong>A problem has been occurred while submitting your data.</strong>
        <ul>
            @for (int i = 0; i < Model.Errors.Count; i++)
            {
                <li>@Model.Errors[i]</li>
            }
        </ul>

    </div>
}

<div class="container form-container" style="max-width: 50vh">
    @using (Html.BeginForm("Update", "Art", routeValues: new { username = Model.ArtDTO.Author, externalUUID = Model.ArtDTO.ExternalUUID }, FormMethod.Post, antiforgery: null, htmlAttributes: new { enctype = "multipart/form-data" }))
    {
        <div class="form-outline flex-fill mb-3">
            @Html.TextBoxFor(Model => Model.Image, htmlAttributes: new { @type = "file", @class = "form-control form-control-lg", id = "image-upload", accept = "image/jpeg,image/png" })
        </div>
        <div class="form-floating form-outline flex-fill mb-3">
            @Html.TextBoxFor(Model => Model.ArtDTO.Title, htmlAttributes: new { @class = "form-control", id = "title", placeholder = "Title" })
            @Html.LabelFor(Model => Model.ArtDTO.Title, htmlAttributes: new { @class = "form-label", @for = "title" })
        </div>
        <div class="form-floating form-outline flex-fill mb-3">
            @Html.TextAreaFor(Model => Model.ArtDTO.Description, htmlAttributes: new { @class = "form-control", id = "descr", placeholder = "Description", rows = 3 })
            @Html.LabelFor(Model => Model.ArtDTO.Description, htmlAttributes: new { @class = "form-label", @for = "title" })
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-4">Submit</button>
    }

    <a class="btn btn-primary w-100 mb-4" asp-controller="Art" asp-action="Delete" asp-route-username="@Model.ArtDTO.Author" asp-route-externalUUID="@Model.ArtDTO.ExternalUUID">
        Delete
    </a>
</div>