@using ASPNET_CourseProject.Helpers.Html
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model ASPNET_CourseProject.Models.View.UserGalleryModel

@{
    string? curUser = HttpContextAccessor.HttpContext.Session.GetString("UserName");
}

<div class="container-fluid h-100">
    <div>
        <div class="row d-flex justify-content-center">
            <div class="d-flex flex-row" style="height:130px;">
                <div class="ms-4 mt-2 d-flex flex-column" style="width: 150px;">
                    <img src="https://www.nicepng.com/png/detail/933-9332131_profile-picture-default-png.png"
                         alt="@Model.User.Username" class="img-fluid img-thumbnail mb-2"
                         style="width: 150px; z-index: 1">
                    @if (curUser == Model.User.Username)
                    {
                        <a class="btn btn-outline-dark text-body" style="z-index: 1;" asp-controller="User" asp-action="EditProfileGet" asp-route-username="@Model.User.Username">
                            Edit profile
                        </a>
                    }
                    else
                    {
                        <a href="#" class="btn btn-outline-dark text-body" style="z-index: 1;">
                            Follow
                        </a>
                    }
                </div>
                <div class="ms-4" style="margin-top: 60px;">
                    <h5>@Model.User.Username</h5>
                </div>
            </div>
            <div class="p-4 text-black bg-body-tertiary">
                <div class="d-flex justify-content-end text-center py-1 text-body">
                    <div>
                        <p class="mb-1 h5"></p>
                        <p class="small text-muted mb-0">Gallery</p>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="mt-3">
            @if (Model.Art.Items != null)
            {
                @Html.ArtGallery(Model.Art.Items)
            }
            else
            {
                <p>This gallery is empty.</p>
            }

            @if (Model.Art.MaxPage > 0)
            {
                @Html.PaginationSimple(Model.Art.CurPage, Model.Art.MaxPage)
            }
        </div>
    </div>
</div>